[core]
	autocrlf = true
	excludesfile = C:\\Users\\nekoe\\Documents\\gitignore_global.txt
[user]
	name = nekocom
	email = 78709189+nekocom3745@users.noreply.github.com
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[credential "helperselector"]
	selected = wincred
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
